*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .wrap{
       .productImage{
        height: 70vh;
        width: 35dvw;
        img{
            height: 100%;
            width: 100%;
        }
       } 
       .infoAndProp{
        .productInfo{
            font-family: "Noto Sans Japanese", sans-serif;
        }
        .productProp{
            .colorWrapper{
               .colorSamples{
                list-style-type: none;
                height: 50px;
                width: 300px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                padding: 0;
                li:focus{
                    border: 2px solid black !important;
                    outline: none;
                }
                .blackSample{
                    background-color: black;
                    
                }
                .murberrySample{
                    background-color: #C54B8C;
                }
                .sageGreenSample{
                    background-color: #B2AC88;
                }
                .chineseWhiteSample{
                    background-color: #E0E1DD;
                }
                :nth-last-child{
                    background-color: white;
                }
               } 
            }
            .sizeWrapper{
                .sizeSamples{
                list-style-type: none;
                height: 50px;
                width: 300px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                padding: 0;
                li{
                    display: grid;
                    place-content: center;
                }
                li:focus{
                    border: 2px solid black !important;
                    outline: none;
                }
                }
            }   
        }
        .productButtons{
                width: 300px;
                display: flex;
                justify-content: space-between;
                input{
                    width: 15%;
                }
                button{
                    width: 75%;
                }
            }
       }
    }
}

@media (max-width: 500px){
    #productWrapper{
        .wrap{
            flex-direction: column;
       .productImage{
        height: 55vh;
        width: 95dvw;
        img{
            height: 100%;
            width: 100%;
        }
       } 
       .infoAndProp{
        .productProp{
            .colorWrapper{
               .colorSamples{
                list-style-type: none;
                height: 40px;
                width: 200px;
                display: grid;
            }
        }
          .sizeWrapper{
                .sizeSamples{
                list-style-type: none;
                height: 40px;
                width: 200px;
            }
            }  
        }
        .productButtons{
                width: 200px;
                display: flex;
                justify-content: space-between;
                input{
                    width: 20%;
                }
                button{
                    width: 75%;
                }
            }
       }
    }
}
}

@media (min-width:700px) and (max-width: 1050px){
    #productWrapper{
        .wrap{
       .productImage{
        height: 40vh;
        width: 50dvw;
        img{
            height: 100%;
            width: 100%;
        }
       } 
    }
}
}