@media (min-width:500px) and (max-width: 700px) {
    .heroWrapper{
        height: 75dvh;
        .heroPicContainer{
            position: absolute;
            height: 85%;
            width: 95%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-content: space-around;
            overflow: hidden;
            .topPicWrapper{
                width: 90% !important;
                height: 80%;
                justify-content: space-around !important;
                margin: 0 auto;
            }
            .bottomPicWrapper{
                width: 90%;
                height: 80%;
                margin: 0 auto;
            }
            .heroPics{
                width: 28%;
                height: 8.9vh;
                img{
                width: 90%;
                height: 100%;
                object-fit: contain;
                /* object-position: 90% 90%; */
                /* border-radius: 90%;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
            }
            }
        }
        .textContainer{
            .typefaceContainer{
                font-size: 5rem;
                z-index: 1000;
            }
            p{
                font-size: x-small !important; 
                text-align: center;
            }
        }
    }
    #categorySection{
        height: 60dvh;
        .categoryWrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .categoryListWrap{
                width: 80%;
                height: 50%;
                ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 0 !important;
                justify-content: space-evenly;

                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 15%;
                    font-size: 0.5rem;
                    .original{
                        font-size: 0.7rem;
                    }
                    .letters{
                        span{
                          font-size: 0.7rem;  
                        } 
                    }
                    /* width: 20%; */
                }
            }
            }
        }
        .btn-53{
            padding:  0.8rem 1.2rem;
        }
    }
    .e-card {
    margin: 0 auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 33%;
    height: 24%;
    border-radius: 16px;
    overflow: hidden;

    .infotop{
        width: 100%;
        height: 90%;
        text-align: center;
        font-size: 50px;
        position: absolute;
        /* top: 18%; */
        height: 100%;
        display: grid;
        place-content: center;
        left: 0;
        right: 0;
        color: rgb(255, 255, 255);
        font-weight: 800;
    }
  }

  #TopProductSection{
    height: auto;
        .sectionTitle{
            height: 7%;
            }
        .sectionWrapper{
                /* height: 80%; */
                .cardWrapper{
                    height: 35dvh;
                    display: flex;
                    flex-direction: column;
                    /* justify-content: space-between; */
                    img{
                    height: 55%;
                    }
                    .cardText{
                    height: 30%;
                    h6{
                    font-size: x-small;
                    }
                    p{
                    font-size: x-small;
                    }
                    a{
                    font-size: xx-small;
                    }
                    }
                }
    }

  }

  #ProductsSection{
    .cardWrapper{
    height: 28dvh;
    width: 31%;
    img{
      height: 50%;
      width: 100%;
      object-fit: contain;
    }
    h6{
        font-size: x-small;
    }
    p{
        font-size: x-small;
    }
    a{
        font-size: x-small;
    }
  }
  }


}

@media (max-width: 500px) {
    .heroWrapper{
        height: 80dvh;
        .heroPicContainer{
            position: absolute;
            height: 80%;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-content: space-around;
            overflow: hidden;
            /* justify-content: space-around; */
            
            .topPicWrapper{
                width: 90% !important;
                height: 80%;
                justify-content: space-around !important;
                margin: 0 auto;
               
            }
            .bottomPicWrapper{
                width: 95%;
                height: 80%;
                margin: 0 auto;
                /* justify-content: ; */
            }
            .heroPics{
                width: 30%;
                height: 8vh;
                img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                /* object-position: 80% 100%; */
                /* border-radius: 90%;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
            }
            }
        }
        .textContainer{
            .typefaceContainer{
                font-size: 5rem;
                z-index: 1000;
            }
            p{
                font-size: x-small !important; 
                text-align: center;
            }
        }
    }
    #categorySection{
        height: 60dvh;
        .categoryWrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .categoryListWrap{
                width: 80%;
                height: 50%;
                ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 0 !important;
                justify-content: space-evenly;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 15%;
                    font-size: 0.5rem;
                    /* width: 20%; */
                    .original{
                        font-size: 0.7rem;
                    }
                    .letters{
                        span{
                          font-size: 0.7rem;  
                        } 
                    }
                }
            }
            }
        }
        .btn-53{
            padding:  0.6rem 1.0rem;
        }
    }
    .e-card {
    margin: 0 auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 33%;
    height: 25%;
    border-radius: 16px;
    overflow: hidden;

    .infotop{
        width: 100%;
        height: 80%;
        text-align: center;
        font-size: 50px;
        position: absolute;
        height: 100%;
        /* top: 15%; */
        display: grid;
        place-content: center;
        left: 0;
        right: 0;
        color: rgb(255, 255, 255);
        font-weight: 800;
    }
  }

  #TopProductSection{
    height: auto;
        .sectionTitle{
            height: 7%;
            }
        .sectionWrapper{                .cardWrapper{
                    height: 30dvh;
                    display: flex;
                    flex-direction: column;
                    /* justify-content: space-between; */
                    img{
                    height: 55%;
                    }
                    .cardText{
                    height: 45%;
                    h6{
                    font-size: x-small;
                    }
                    p{
                    font-size: x-small;
                    }
                    a{
                    font-size: 0.53rem;
                    }
                    }
                }
    }

  }

  #ProductsSection{
    .cardWrapper{
    height: 30dvh;
    width: 30%;
    img{
      height: 50%;
      width: 100%;
      object-fit: contain;
    }
    h6{
        font-size: x-small;
    }
    p{
        font-size: x-small;
    }
    a{
        font-size: 0.52rem;
    }
  }
  }

}

@media (min-width:700px) and (max-width: 1050px)  {
    .heroWrapper{
        height: 75dvh;
        .heroPicContainer{
            position: absolute;
            height: 85%;
            width: 95%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-content: space-around;
            .topPicWrapper{
                width: 90% !important;
                height: 85%;
                justify-content: space-around !important;
                margin: 0 auto;
            }
            .bottomPicWrapper{
                width: 90%;
                height: 80%;
                margin: 0 auto;
            }
            .heroPics{
                width: 30%;
                height: 11vh;
                img{
                width: 80%;
                height: 100%;
                object-fit: contain;
                /* object-position: 70% 80%; */
                /* border-radius: 90%;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
            }
            }
        }
        .textContainer{
            .typefaceContainer{
                font-size: 5rem;
                z-index: 1000;
            }
            p{
                font-size: x-small !important; 
                text-align: center;
            }
        }
    }
    #categorySection{
        height: 60dvh;
        .categoryWrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .categoryListWrap{
                width: 80%;
                height: 50%;
                ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 0 !important;
                justify-content: space-evenly;

                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 15%;
                    font-size: 0.9rem;
                    /* width: 20%; */
                }
            }
            }
        }
        .btn-53{
            padding:  1.2rem 1.7rem;
        }
    }
    .e-card {
    margin: 0 auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 33%;
    height: 30%;
    border-radius: 16px;
    overflow: hidden;

    .infotop{
        width: 100%;
        height: 75%;
        text-align: center;
        font-size: 20px;
        position: absolute;
        /* top: 18%; */
        height: 100%;
        display: grid;
        place-content: center;
        left: 0;
        right: 0;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }
  }

  #TopProductSection{
    height: auto;
        .sectionTitle{
            height: 7%;
            }
        .sectionWrapper{
                height: 40dvh;
                .cardWrapper{
                    height: 92%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    img{
                    height: 60%;
                    }
                    .cardText{
                    height: 30%;
                    }
                }
    }
  }

  #ProductsSection{
    .cardWrapper{
    height: 28dvh;
    width: 31%;
    img{
      height: 50%;
      width: 100%;
      object-fit: contain;
    }
    h6{
        font-size: small;
    }
    p{
        font-size: small;
    }
    a{
        font-size: small;
    }
  }
  }

}