*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heroWrapper{
    height: 80vh;
    position: relative;

    .heroPicContainer{
        position: absolute;
            height: 100%;
            width: 95%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-content: space-around;
            overflow: hidden;
        .topPicWrapper{
                width: 85% !important;
                height: 80%;
                justify-content: space-between !important;
                margin: 0 auto;
        }
        .bottomPicWrapper{
                width: 100%;
                height: 80%;
                margin: 0 auto;
        }
        .heroPics{
            width: 22%;
            height: 56%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                /* object-position: 60% 70%; */
            }
        }
    }
    .textContainer{
    height: 100%;
    margin: 0;
    display: grid;
    place-content: center;
        .typefaceContainer{
            font-size: 9rem;
            background-image: url('/WhatsApp\ Image\ 2025-05-07\ at\ 9.08.40\ AM.jpeg');
            background-position: center;
            background-size: cover;
            background-clip: text;
            color: transparent;
            animation: shiftBG 10s linear alternate-reverse infinite;
            text-align: center;
            font-family: serif ;
            line-height: 0.7;
        }
    }
}

#categorySection{
    width: 100%;
    height: 100vh;
    background-image: url("/category\ bg.png"), url("/Dolu\'s\ logo.jpg");
    background-position: center;
    background-size: contain;
    font-family: Noto Sans Japanese, sans-serif;
    /* background-repeat: no-repeat; */
    background-blend-mode: multiply;
    /* backdrop-filter: blur(5px); */
    /* -webkit-filter: blur(3px); */

    .categoryWrap{
        width: 100%;
        height: 100%;
        z-index: 10;
        backdrop-filter: blur(2.5px);
        display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: space-between; */

        .categoryListWrap{
            width: 55%;
            height: 35%;
            margin: 0 auto;
            ul{
                list-style: none;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }
        }
        
    }
}

/* From Uiverse.io by MikeAndrewDesigner */ 
.e-card {
    margin: 0 auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 23%;
    height: 35%;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 220%;
    height: 220%;
    opacity: 0.6;
    left: 12%;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#312c35,#080515 60%,#139ea8);
  }
  
  .infotop {
    text-align: center;
    font-size: 25px;
    position: absolute;
    margin: 0 auto;
    height: 100%;
    /* top: 15%; */
    display: grid;
    place-content: center;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 60%;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradien (#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.1rem 2.5rem;
  position: relative;
  font-family: Noto Sans Japanese, sans-serif;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
.btn-53:hover span:nth-child(7) {
    transition-delay: 0.6s;
  }
  .btn-53:hover span:nth-child(8) {
    transition-delay: 0.7s;
  }
  .btn-53:hover span:nth-child(9) {
    transition-delay: 0.8s;
  }
  .btn-53:hover span:nth-child(10) {
    transition-delay: 0.9s;
  }
  .btn-53:hover span:nth-child(11) {
    transition-delay: 1.0s;
  }
  .btn-53:hover span:nth-child(12) {
    transition-delay: 1.1s;
  }



#TopProductSection{
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: Noto Sans Japanese, sans-serif;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: hidden;
    .sectionTitle{
      height: 10%;
    }
    .sectionWrapper{
      height: 90%;
      .cardWrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* opacity: 1; */
        img{
          height: 65%;
        }
        .cardText{
          height: 30%;
        }
      }
    }
}

#ProductsSection{
  height: auto;

  .cardWrapper{
    height: 65vh;
    width: 21%;

    img{
      height: 60%;
      width: 100%;
      object-fit: contain;
    }
  }
}


@keyframes shiftBG{
    to{
        background-position-x: -200px;
    }
}



