*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    width: 100%;
    height: 80vh;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 500px) {
    .section {
        height: 35vh;
        img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    }   
}

@media (max-width: 900px) {
    .section {
        height: 40vh;
        img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    }
    
}
