*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    color: black;
    height: 15dvh;

    #logoContainer{
        height: 90%;
        width: 20%;
        #logo{
            height: auto;
            width: 100%;
            object-fit: cover;
    
        }
    }
    .input-group{
        width: 40%;
        input{
            outline: none !important;
        }
    }
    .navRight{
        width: 25%;
        height: 100%;
        ul{
            margin: 0;
            height: 100%;
            list-style: none;
            /* .cartIcon{
                font-size: ;
            } */
        }
    }
}

.searchDisplay{
    position: absolute;
    left: 23%;
    /* top: 10%; */
    width: 50%;
    height: auto;
    max-height: 50dvh;
    margin: 0 auto;
    z-index: 100;
    overflow: auto;
    .itemWrap{
        height: 20dvh;
        background-color: white;
        .itemWrapper{
            align-items: center;
            img{
            height: 18dvh;
            width: 30%;
            object-fit: contain;
        }
            .itemInfo{
                height: 18dvh;
            }
            .button{
                height: 18dvh;
                display: grid;
                place-content: center;
            }
        }
        
    }
}



@media (min-width: 700px) and (max-width: 1050px){
    #navbar{
        height: 8dvh;
        #logoContainer{
            width: 32%;
            #logo{
                width: 100%;
                height: auto;
            }
        }
        .input-group{
            width: 40%;
        }
        .navRight{
            width: 22%;
            .nav-link{
                display: none !important;
            }
            .dropdown{
                display: block !important;
            }
        }
    }
    .searchDisplay{
    position: absolute;
    left: 14%;
    width: 75%;
    height: auto;
    max-height: 40dvh;
    margin: 0 auto;
    z-index: 10000;
    overflow: auto;
    .itemWrap{
        height: 12dvh;
        .itemWrapper{
            align-items: center;
            img{
            height: 10dvh;
            width: 25%;
            object-fit: contain;
        }
            .itemInfo{
                justify-content: center !important;
                p{
                    font-size: small;
                }
                
            }
            .button{
                height: 18dvh;
                display: grid;
                place-content: center;
                button{
                    font-size: x-small;
                }
            }
        }
        
    }
}
}

@media (min-width: 500px) and (max-width: 700px){
    #navbar{
        height: 7dvh;
        #logoContainer{
            width: 32%;
            #logo{
                width: 100%;
                height: auto;
            }
        }
        .input-group{
            width: 40%;
        }
        .navRight{
            width: 22%;
        }
    }
    .searchDisplay{
    position: absolute;
    left: 14%;
    width: 75%;
    height: auto;
    max-height: 40dvh;
    margin: 0 auto;
    z-index: 10000;
    overflow: auto;
    .itemWrap{
        height: 12dvh;
        .itemWrapper{
            align-items: center;
            img{
            height: 8dvh;
            width: 25%;
            object-fit: contain;
        }
            .itemInfo{
                justify-content: center !important;
                p{
                    font-size: x-small;
                }
                
            }
            .button{
                height: 100%;
                margin: auto;
                button{
                    font-size: xx-small;
                }
            }
        }
        
    }
}
}
@media (max-width: 500px){
    #navbar{
        height: 7dvh;
        #logoContainer{
            width: 30%;
            #logo{
                width: 100%;
                height: auto;
            }
        }
        .input-group{
            width: 38%;
        }
        .navRight{
            width: 25%;
        }
    }

    .searchDisplay{
    position: absolute;
    left: 12%;
    width: 80%;
    height: auto;
    max-height: 35dvh;
    margin: 0 auto;
    z-index: 10000;
    overflow: auto;
    .itemWrap{
        height: 11dvh;
        .itemWrapper{
            align-items: center;
            /* justify-content: space-between !important; */
            img{
            height: 8dvh;
            width: 25%;
            object-fit: contain;
        }
            .itemInfo{
                justify-content: center !important;
                p{
                    font-size: x-small;
                }
                
            }
            .button{
                height: 100%;
                margin: auto;
                button{
                    font-size: xx-small;
                }
            }
        }
        
    }
}
}

