*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    color: black;
    height: 15dvh;

    #logoContainer{
        height: 90%;
        width: 20%;
        #logo{
            height: auto;
            width: 100%;
            object-fit: cover;
    
        }
    }
    .input-group{
        width: 40%;
    }
    .navRight{
        width: 25%;
        height: 100%;
        ul{
            list-style: none;
        }
    }
}
